.battle, .card {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.battle {
  width: 700px;
  height: 1000px;
  text-align: center;
  position: relative;
}

.card {
  width: 100px;
  height: 200px;
  margin: 40px;
  position:absolute;
}

.one, .two {
  transform: translateX(50%);
  right: 45%;
}

.two {
  bottom: 0;
}

.three, .four {
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  top: 25%;
}

.three {
  right: 5%;
}

.four {
  left: 5%;
}